<!DOCTYPE HTML5>
<HTML>
<HEAD>
    <TITLE>HTML FORM</TITLE>
</HEAD>
<BODY background="image4.jpg">
    <table width="570" align="center" bgcolor="skyblue">
        <tr><td>
        <FORM>
            <H1 align="center"><u><i>STUDENT REGISTRATION FORM</i></u></H1>
            <FIELDSET>
                <LEGEND><i>USER PERSONAL INFORMATION</i></LEGEND>
                <SELECT>
                    <option VALUE="--NONE--"><b>--Title--</b></OPTION>
                    <OPTION VALUE="MR.">MR.</OPTION>
                    <OPTION VALUE="MS.">MS.</OPTION>
                    <OPTION VALUE="MRS.">MRS.</OPTION>
                    <OPTION VALUE="DR.">DR.</OPTION>
                </SELECT>
                <br>
                <LABEL FOR="FIRSTNAME">FIRSTNAME:</LABEL>
                <INPUT TYPE="TEXT" NAME="FIRSTNAME" PLACEHOLDER="FIRSTNAME" ID="FIRSTNAME"><br>
                <LABEL FOR="LASTNAME">LASTNAME:</LABEL>
                <INPUT TYPE="TEXT" NAME="LASTNAME" PLACEHOLDER="LASTNAME" ID="LASTNAME"><BR>
                <LABEL FOR="PHONE_NO.">PHONE_NO:</LABEL>
                <INPUT TYPE="TEXT" NAME="PHONE_NO." PLACEHOLDER="PHONE_NO." ID="PHONE_NO."><BR>
                <LABEL FOR="EMAIL_ID">EMAIL_ID:</LABEL>
                <INPUT TYPE="EMAIL" NAME="EMAIL_ID" PLACEHOLDER="EMAIL_ID" ID="EMAIL_ID"><BR>
                <LABEL FOR="PASSWORD">PASSWORD:</LABEL>
                <INPUT TYPE="PASSWORD" NAME="PASSWORD" PLACEHOLDER="PASSWORD" ID="PASSWORD" MAXLENGTH="10"><BR>
                <LABEL FOR="ADDRESS">ADDRESS:</LABEL> 
                <TEXTAREA ID="ADDRESS" ROWS="3" COLS="20"></TEXTAREA><BR><br>
                <LABEL FOR="AGE">AGE:</LABEL>
                <INPUT TYPE="TEXT" NAME="AGE" PLACEHOLDER="AGE" ID="AGE"><BR><br>
                <LABEL FOR="GENDER">GENDER:</LABEL> 
                <INPUT TYPE="RADIO" NAME="GENDER" PLACEHOLDER="GENDER" VALUE="MALE" ID="GENDER">MALE
                <INPUT TYPE="RADIO" NAME="GENDER" PLACEHOLDER="GENDER" VALUE="FEMALE" ID="GENDER">FEMALE<BR><br>
                <label FOR="D.O.B">D.O.B:</label>
                <INPUT TYPE="DATE" NAME="D.O.B" PLACEHOLDER="D.O.B" ID="D.O.B"><BR><br> 
                <LABEL FOR="HOBBY">CHOOSE YOUR HOBBY:</LABEL><br>
                <INPUT TYPE="CHECKBOX" NAME="HOBBY" PLACEHOLDER="HOBBY" VALUE="DANCE" ID="HOBBY">DANCE
                <INPUT TYPE="CHECKBOX" NAME="HOBBY" PLACEHOLDER="HOBBY" VALUE="MUSIC" ID="HOBBY">MUSIC
                <INPUT TYPE="CHECKBOX" NAME="HOBBY" PLACEHOLDER="HOBBY" VALUE="CODING" ID="HOBBY">CODING
                <INPUT TYPE="CHECKBOX" NAME="HOBBY" PLACEHOLDER="HOBBY" VALUE="DANCING" ID="HOBBY">DANCING
                <INPUT TYPE="CHECKBOX" NAME="HOBBY" PLACEHOLDER="HOBBY" VALUE="ROCK CLIMBING" ID="HOBBY">ROCK CLIMBING<br> 
                <INPUT TYPE="CHECKBOX" NAME="HOBBY" PLACEHOLDER="HOBBY" VALUE="ROBOTICS" ID="HOBBY">ROBOTICS
                <INPUT TYPE="CHECKBOX" NAME="HOBBY" PLACEHOLDER="HOBBY" VALUE="ART & CRAFT" ID="HOBBY">ART & CRAFT<BR><br> 
                <INPUT TYPE="SUBMIT" VALUE="SUBMIT">
                <INPUT TYPE="reset" VALUE="reset">
            </FIELDSET> 
        </FORM> 
    </table>
</BODY>
</HTML>